## Pandas
As pandas is built on numpy we can perform operation same numpy operation on pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
# to view Documentation use below code
# help(pd.Series)

In [3]:
myindex = ['USA','Canada','Mexico']

In [4]:
mydata = [1776,1867,1821]

In [5]:
myser = pd.Series(data=mydata)

In [6]:
print(type(myser))
myser

<class 'pandas.core.series.Series'>

0    1776
1    1867
2    1821
dtype: int64

In [7]:
myser = pd.Series(index=myindex,data=mydata)

In [8]:
print(type(myser))
myser

<class 'pandas.core.series.Series'>

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [9]:
ages = {'Sam':5,'Frank':10,'someone':25}

In [10]:
pd.Series(ages)

Sam         5
Frank      10
someone    25
dtype: int64

In [11]:
q1 = {'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100,'China':500,'India':210,'USA':260}

In [12]:
sales_q1 = pd.Series(q1)

In [13]:
sales_q2 = pd.Series(q2)

In [14]:
print(type(sales_q1))
sales_q1

<class 'pandas.core.series.Series'>

Japan     80
China    450
India    200
USA      250
dtype: int64

In [15]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [16]:
sales_q1['Japan']

80

In [17]:
sales_q1[0]

80

In [18]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [19]:
print(type(sales_q1.keys()))
sales_q1.keys()

<class 'pandas.core.indexes.base.Index'>

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [20]:
sales_q1*10

Japan     800
China    4500
India    2000
USA      2500
dtype: int64

In [21]:
sales_q1+sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [24]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [ ]:
pd.Series()